<div class="container mt-5">
  <h1 style=" color: white;">Bienvenid@ al sistema MG</h1>
  <p style="font-size: 400%; text-align: center;  color: white;">{{mensaje}}</p>
</div>
<div class="imagen">
  <img src="../../../assets/Imagenes/logo1.png" class="rounded mx-auto d-block" alt="Logo MG">
</div>
<br>

<div style="display: flex; justify-content: center;">
  <div class="digitalClock">
    <div class="dayTitle">
      {{day}}
    </div>
    <div class="digitalTime">
      <div>{{hour}} : &nbsp;</div>
      <div>{{minute}} : &nbsp;</div>
      <div>{{second}}  &nbsp;</div>
      <div class="ampm">{{ampm}}</div>
    </div>
  </div>
</div>

<br>

<footer style="text-align: center; color: white;">
  Brandon Toapanta Jimenez &copy;<br>
  Contacto: +593990533058 <br>
  Correo: brantri2015@hotmail.com <br>
</footer>
<br>