<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{ titulo | uppercase}}</span>
                    <form class="mt-3" [formGroup]="proveedorForm" (ngSubmit)="agregarProveedor()">
                        <div class="mb-3">
                            <input type="text" formControlName="nombre" class="form-control form-control-lg"
                                placeholder="Nombre" minlength="3" maxlength="25" pattern="[0-9A-Za-záéíóú ]*">
                            <div class="text-danger"
                                *ngIf="proveedorForm.get('nombre')?.hasError('required') && proveedorForm.get('nombre')?.touched">
                                <span>El nombre del proveedor <strong>es obligatorio.</strong></span>
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('nombre')?.hasError('minlength')" >
                                <span>El nombre del proveedor puede contener <strong>mínimo 3 caracteres o máximo 25.</strong></span>                                                                   
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('nombre')?.hasError('pattern')" >
                                <span>El nombre del proveedor puede contener <strong>letras o números.</strong></span>                                                                   
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="apellido" class="form-control form-control-lg"
                                placeholder="Apellido" minlength="3" maxlength="25" pattern="[0-9A-Za-záéíóú ]*">
                            <div class="text-danger"
                                *ngIf="proveedorForm.get('apellido')?.hasError('required') && proveedorForm.get('apellido')?.touched">
                                <span>El apellido del proveedor <strong>es obligatorio.</strong></span>
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('apellido')?.hasError('minlength')" >
                                <span>El apellido del proveedor puede contener <strong>mínimo 3 caracteres o máximo 25.</strong></span>                                                                   
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('apellido')?.hasError('pattern')" >
                                <span>El apellido del proveedor puede contener <strong>letras o números.</strong></span>                                                                   
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="cedula" class="form-control form-control-lg"
                                placeholder="Cédula o RUC" minlength="10" maxlength="15" pattern="[0-9\-]*" id="cedulaId">
                            <div class="text-danger"
                                *ngIf="proveedorForm.get('cedula')?.hasError('required') && proveedorForm.get('cedula')?.touched">
                                <span>La cédula o RUC del proveedor <strong>es obligatorio.</strong></span>
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('cedula')?.hasError('minlength')" >
                                <span>La cédula o RUC del proveedor puede contener <strong>mínimo 10 caracteres o máximo 15.</strong></span>                                                                   
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('cedula')?.hasError('pattern')" >
                                <span>La cédula del proveedor puede contener <strong>solo números.</strong></span>                                                                   
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="numeroCuenta" class="form-control form-control-lg"
                                placeholder="Número de cuenta" minlength="10" maxlength="20" pattern="[0-9\-]*">
                            <div class="text-danger"
                                *ngIf="proveedorForm.get('numeroCuenta')?.hasError('required') && proveedorForm.get('numeroCuenta')?.touched">
                                <span>El número de cuenta del proveedor <strong>es obligatorio.</strong></span>                                                                                       
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('numeroCuenta')?.hasError('minlength')" >
                                <span>El número de cuenta del proveedor puede contener <strong>mínimo 10 caracteres o máximo 20.</strong></span>                                                                   
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('numeroCuenta')?.hasError('pattern')" >
                                <span>El número de cuenta del proveedor solo puede contener <strong>números.</strong></span>                                                                   
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="diasPlazo" class="form-control form-control-lg"
                                placeholder="Días plazo" minlength="1" maxlength="15" pattern="[0-9\-a-zA-Záéíóú ]*">
                            <div class="text-danger"
                                *ngIf="proveedorForm.get('diasPlazo')?.hasError('required') && proveedorForm.get('diasPlazo')?.touched">
                                <span>Los días plazo del proveedor <strong>son obligatorios.</strong></span>
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('diasPlazo')?.hasError('minlength')" >
                                <span>Los días plazo del proveedor puede contener <strong>mínimo 1 caracter o máximo 15.</strong></span>                                                                   
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('diasPlazo')?.hasError('pattern')" >
                                <span>Los días plazo del proveedor puede contener <strong>letras o números.</strong></span>                                                                   
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="telefono" class="form-control form-control-lg"
                                placeholder="Teléfono" minlength="6" maxlength="15" pattern="[0-9\-\+]*">
                            <div class="text-danger"
                                *ngIf="proveedorForm.get('telefono')?.hasError('required') && proveedorForm.get('telefono')?.touched">
                                <span>El teléfono del proveedor <strong>es obligatorio.</strong></span>
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('telefono')?.hasError('minlength')" >
                                <span>El teléfono del proveedor puede contener <strong>mínimo 6 número o máximo 15.</strong></span>                                                                   
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('telefono')?.hasError('pattern')" >
                                <span>El teléfono del proveedor puede contener <strong> solo números.</strong></span>                                                                   
                            </div>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" formControlName="recibo" aria-label="Default select example">
                                <option selected disabled value="">Tipo de recibo</option>
                                <option value="Factura">Factura</option>
                                <option value="Nota de venta">Nota de venta</option>
                                <option value="Otro">Otro</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="proveedorForm.get('recibo')?.hasError('required') && proveedorForm.get('recibo')?.touched">
                                <span>El tipo de recibo del proveedor <strong>es obligatorio.</strong></span>
                            </div>                            
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="banco" class="form-control form-control-lg"
                                placeholder="Banco" minlength="3" maxlength="25" pattern="[0-9a-zA-Záéíóú ]*">
                            <div class="text-danger"
                                *ngIf="proveedorForm.get('banco')?.hasError('required') && proveedorForm.get('banco')?.touched ">
                                <span>El banco del proveedor <strong>es obligatorio.</strong></span>
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('banco')?.hasError('minlength')" >
                                <span>El banco del proveedor puede contener <strong>mínimo 3 caracteres o máximo 25.</strong></span>                                                                   
                            </div>
                            <div class="text-danger"                                
                                *ngIf="proveedorForm.get('banco')?.hasError('pattern')" >
                                <span>El banco del proveedor puede contener <strong>letras o números.</strong></span>                                                                   
                            </div>
                        </div>
                        <div class="text-danger" style="text-align: center;">
                            <span><strong>{{mensaje}}</strong></span>
                        </div>
                        <br>
                        <div class="mb-3">
                            <button routerLink="/proveedores"
                                class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="proveedorForm.invalid"
                                class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<footer style="text-align: center;"> 
    Brandon Eduardo Toapanta Jimenez &copy;<br>
    Contacto: +593990533058 <br>
    Correo: brantri2015@hotmail.com <br>
</footer>
<br>