<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE PROVEEDORES</span>
          <button class="btn btn-success float-end" routerLink="/crear-proveedor">NUEVO</button>
          <br>
          <br>

          <form class="row g-2" style="justify-content: center;" [formGroup]="busquedaProvForm" (ngSubmit)="buscarProveedor()">            
            <div class="col-auto">
              <label for="inputPassword2" class="visually-hidden">Buscar</label>
              <input type="text" class="form-control" formControlName="busqueda" placeholder="Búsqueda">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">BUSCAR</button>
            </div>
          </form>

          <table *ngIf="listProveedores.length > 0" class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col" (click)="ordenar('Nombre')" onMouseover="this.style.color='blue'"
                  onMouseout="this.style.color='black'" style=" cursor: pointer;">Nombre</th>
                <th scope="col" (click)="ordenar('Apellido')" onMouseover="this.style.color='blue'"
                  onMouseout="this.style.color='black'" style=" cursor: pointer;">Apellido</th>
                <th scope="col" (click)="ordenar('Cedula')" onMouseover="this.style.color='blue'"
                  onMouseout="this.style.color='black'" style=" cursor: pointer;">Cédula</th>
                <th scope="col" (click)="ordenar('Cuenta')" onMouseover="this.style.color='blue'"
                  onMouseout="this.style.color='black'" style=" cursor: pointer;">Número de cuenta</th>
                <th scope="col" (click)="ordenar('Plazo')" onMouseover="this.style.color='blue'"
                  onMouseout="this.style.color='black'" style=" cursor: pointer;">Días plazo</th>
                <th scope="col" (click)="ordenar('Telefono')" onMouseover="this.style.color='blue'"
                  onMouseout="this.style.color='black'" style=" cursor: pointer;">Teléfono</th>
                <th scope="col" (click)="ordenar('Recibo')" onMouseover="this.style.color='blue'"
                  onMouseout="this.style.color='black'" style=" cursor: pointer;">Recibo</th>
                <th scope="col" (click)="ordenar('Banco')" onMouseover="this.style.color='blue'"
                  onMouseout="this.style.color='black'" style=" cursor: pointer;">Banco</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proveedor of listProveedores ">
                <td>{{proveedor.nombre}}</td>
                <td>{{proveedor.apellido}}</td>
                <td>{{proveedor.cedula}}</td>
                <td>{{proveedor.numeroCuenta}}</td>
                <td>{{proveedor.diasPlazo}}</td>
                <td>{{proveedor.telefono}}</td>
                <td>{{proveedor.recibo}}</td>
                <td>{{proveedor.banco}}</td>
                <td>
                  <i [routerLink]="['/editar-proveedor', proveedor._id]" class="far fa-edit text-primary"></i>
                  <i (click)="eliminarProveedor(proveedor._id)" class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5 style="text-align: start; margin-top: 10px;" *ngIf="listProveedores.length == 0">No hay proveedores para
            mostrar</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<footer style="text-align: center; color: white;">
  Brandon Toapanta Jimenez &copy;<br>
  Contacto: +593990533058 <br>
  Correo: brantri2015@hotmail.com <br>
</footer>
<br>